<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">MyWeatherApp</a>

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="radio" name="options" id="option1" autocomplete="off" checked> Celsius
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="option2" autocomplete="off"> Fahrenheit
        </label>
    </div>
</nav>

<div class="container-fluid margin-top-lg">
  <div class="card-deck justify-content-md-center">
    <div class=".col-lg-3 .col-md-4 .col-sm-12"  style="width: 18rem;">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">CHICAGO</h5>
                <img src="assets/images/sunny.png" alt="sunny">
                <h1>20&deg;C</h1>
                <div>SUNNY</div>
                <hr>
                <div class="row position-relative margin-top-s">
                    <div class="low-temp">
                        <div>17&deg;C</div>
                        <div>Low</div>
                    </div>
                    <div class="high-temp">
                        <div>27&deg;C</div>
                        <div>High</div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class=".col-lg-3 .col-md-4 .col-sm-12"  style="width: 18rem;">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">SAN FRANCISCO</h5>
                <img src="assets/images/sunny.png" alt="sunny">
                <h1>20&deg;C</h1>
                <div>SUNNY</div>
                <hr>
                <div class="row position-relative margin-top-s">
                    <div class="low-temp">
                        <div>17&deg;C</div>
                        <div>Low</div>
                    </div>
                    <div class="high-temp">
                        <div>27&deg;C</div>
                        <div>High</div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class=".col-lg-3 .col-md-4 .col-sm-12"  style="width: 18rem;">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">NEW YORK</h5>
                <img src="assets/images/sunny.png" alt="sunny">
                <h1>20&deg;C</h1>
                <div>SUNNY</div>
                <hr>
                <div class="row position-relative margin-top-s">
                    <div class="low-temp">
                        <div>17&deg;C</div>
                        <div>Low</div>
                    </div>
                    <div class="high-temp">
                        <div>27&deg;C</div>
                        <div>High</div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class=".col-lg-3 .col-md-4 .col-sm-12"  style="width: 18rem;">
        <div class="card text-center add-city">
            <div class="card-body">
                <h5 class="card-title">ADD CITY</h5>
                <img src="assets/images/plus.svg" id="plus-icon" alt="plus">
                <!-- <img src="assets/images/city-black.png" id="add-city" alt="city"> -->
            </div>
        </div>
    </div>
  </div>
</div>
